# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*bin/
*.exe
*.out
*.app

# VSCode specific files
.vscode/
*.code-workspace

# CMake build directory
build/
cmake-build-*/

# Logs and databases
*.log
*.sql
*.sqlite

# System files
.DS_Store
Thumbs.db